---
import { getCollection, getEntry } from "astro:content";
import { Image } from "astro:assets";
import BaseLayout from "../layouts/BaseLayout.astro";
import HeadingAccentImage from "../assets/images/angled-orange-xs.svg";
import { ContactForm } from "../components/react/ContactForm/ContactForm";

import "../styles/page-styles/about.css";
import Link from "../components/Link/Link.astro";
import "../components/Card/Card.css";

import siteData from "../utils/data/siteData";
const pageTitle = "About";
const { socialLinks } = siteData;

const contentList = await getEntry("dataYML", "content-list");
const portfolioList = contentList.data.portfolioList;

export async function getStaticPaths() {
  const blogEntries = await getCollection("blog");
  return blogEntries.map((data) => ({
    params: { slug: data.slug },
    props: { data },
  }));
}

const cardListClasses = `cardUl cardGrid stackCardList`;
const socialListClasses = `socialUl socialGrid stackSocialList`;
const cardListItemClasses = `cardListItem liReset`;
const socialListItemClasses = `socialListItem liReset`;
---

<BaseLayout pageTitle={pageTitle}>
  <article class="bodyWrapper">
    <img src={HeadingAccentImage.src} alt="" class="headingAccentImage" />
    <header>
      <h1 class="aboutH1">What I do</h1>
    </header>
    <article class="contentWrapper">
      <p class="aboutIntroPara">
        So... you want to know more about me? OK. Well, I'm a software engineer
        with a design background. In other words, I really enjoy the
        <a
          href="https://bradfrost.com/blog/post/frontend-design-react-and-a-bridge-over-the-great-divide/"
        >
          front of the frontend
        </a>, digging into new technologies, and talking about accessibility,
        React component libraries, design systems, and inclusive documentation.
      </p>
      <p class="aboutPara">
        I’m also a Color Module Specification Editor for the
        <a href="https://www.w3.org/community/design-tokens">
          W3C Design Tokens Community Group
        </a>.
      </p>
      <p class="aboutPara">
        When I’m not coding, designing, or speaking about things, I’m the best
        <a href="https://facebook.com/cxsisters">
          Lanterne Rouge cyclocrosser</a
        >
        you’ll ever meet.
      </p>
      <hr class="redOrangeHR" />
      <h2>My portfolios</h2>
      <p>
        Here are some of the portfolio sites I've done in the past for my
        consulting business:
      </p>
      <ul class={cardListClasses}>
        {
          portfolioList.map((port) => (
            <li class={cardListItemClasses}>
              <article class="cardRoot">
                {port.image && (
                  <header class="cardHeader">
                    <div class="cardCropper">
                      <Image
                        slot="image"
                        src={port.image}
                        alt={port.name}
                        width={1600}
                        height={900}
                        class="cardImage"
                      />
                    </div>
                  </header>
                )}
                <div class={"cardContentWrapper"}>
                  <footer class={"cardFooterWrapper"}>
                    <Link
                      href={port.link}
                      linkClasses="cardFooterLink"
                      icon={"arrow-right"}
                      iconAfter
                      size="small"
                      iconSpanClasses="cardFooterLinkIcon"
                    >
                      {port.cta}
                    </Link>
                  </footer>
                </div>
              </article>
            </li>
          ))
        }
      </ul>
      <hr class="redOrangeHR" />
      <h2>Social links</h2>
      <p>Here are some of the ways you can get in touch with me:</p>
      <ul class={socialListClasses}>
        {
          socialLinks.map((social) => (
            <li class={socialListItemClasses}>
              <Link
                href={social.link}
                icon={social.icon}
                iconBefore
                iconClasses="socialListLinkIcon"
                linkClasses="socialListLink"
                size="large"
              >
                <span>{social.name}</span>
              </Link>
            </li>
          ))
        }
      </ul>
      <hr class="redOrangeHR" />
      <h2 id="contact-me">Contact Me</h2>
      <p>You may also reach me by email</p>
      <ContactForm />
    </article>
  </article>
</BaseLayout>
