---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import HeadingAccentImage from "../assets/images/angled-purp-violet-xs.svg";
import "../styles/page-styles/write.css";

const pageTitle = "Write";
const allPosts = await getCollection("blog");
export async function getStaticPaths() {
  const blogEntries = await getCollection("blog");
  return blogEntries.map((data) => ({
    params: { slug: data.slug },
    props: { data },
  }));
}
const orderedPosts = allPosts.reverse();
---

<BaseLayout pageTitle={pageTitle}>
  <article class="bodyWrapper">
    <img src={HeadingAccentImage.src} alt="" class="headingAccentImage" />
    <header>
      <h1 class="writeH1">
        Cultivated
        <br />
        thoughts <small>{orderedPosts.length} Posts</small>
      </h1>
    </header>
    <article class="contentWrapper">
      <p class="writeIntroPara">
        This is a gathering of all my thoughts, "digital garden" style. If you
        haven't heard the term before, check out the this
        <a href="https://joelhooks.com/digital-garden">
          fantastic post on digital gardens by Joel Hooks
        </a>
        to learn more about the philosophy behind the phase.
      </p>
      <hr class="blueVioletHR" />
      <ul class="postUl stackPostList">
        {
          orderedPosts.map((post) => (
            <li class="postListItem">
              <a href={`/posts/${post.slug}/`} class="postListLink">
                {post.data.title}
              </a>
              <span class="postListPublishedDate">
                <span class="postListPublished">Published:</span>
                {post.data.date.toDateString()}
              </span>
              <p class="postListExcerpt">{post.data.excerpt}</p>
            </li>
          ))
        }
      </ul>
    </article>
  </article>
</BaseLayout>
