---
import { getCollection } from "astro:content";
const allPosts = await getCollection("blog");
import BaseLayout from "../layouts/BaseLayout.astro";
import HeadingAccentImage from "../assets/images/angled-purp-violet-xs.svg";
// const pageTitle = "What I do";

export async function getStaticPaths() {
  const blogEntries = await getCollection("blog");
  return blogEntries.map((data) => ({
    params: { slug: data.slug },
    props: { data },
  }));
}

const pageTitle = `Cultivated
    <br />
    thoughts<small>{14} Posts</small>
  `;
import "../styles/page-styles/write.css";
---

<BaseLayout
  pageTitle={pageTitle}
  pageH1Class="writeH1"
  pageBgImage={HeadingAccentImage.src}
  pageBgImageClass="headingAccentImage"
>
  <!-- <article class="bodyWrapper">
    <img src={HeadingAccentImage.src} alt="" class="headingAccentImage" />

    <header>
      <h1 class="writeH1">
        Cultivated
        <br />
        thoughts <small>{allPosts.collection.size} Posts</small>
      </h1>
    </header> -->
  <article class="contentWrapper">
    <p class="writeIntroPara">
      This is a gathering of all my thoughts, "digital garden" style. If you
      haven't heard the term before, check out the this
      <a href="https://joelhooks.com/digital-garden">
        fantastic post on digital gardens by Joel Hooks
      </a>
      to learn more about the philosophy behind the phase.
    </p>
    <hr class="blueVioletHR" />
    <ul class="postUl stackPostList">
      {
        allPosts.map((post) => (
          <li class="postListItem">
            <a href={`/posts/${post.slug}/`} class="postListLink">
              {post.data.title}
            </a>
            <span class="postListPublishedDate">
              <span class="postListPublished">Published:</span>
              {post.data.date.toDateString()}
            </span>
            <p class="postListExcerpt">{post.data.excerpt}</p>
          </li>
        ))
      }
    </ul>
  </article>
  <!-- </article> -->
</BaseLayout>
