---
import Layout from "../layouts/Layout.astro";
import LineDot from "../components/LineDot/LineDot.astro";
import "../styles/layout-styles/home-layout.css";
const {
  pageTitle,
  pageHeader,
  pageH1Class,
  pageIntroPara,
  pageBgImage,
  pageBgImageClass,
} = Astro.props;
---

<Layout pageTitle={pageTitle}>
  <article class="bodyWrapper">
    <img src={pageBgImage} alt="" class={pageBgImageClass} />
    <header class={pageHeader}>
      <h1 class={pageH1Class}>{pageTitle}</h1>
      <p class={pageIntroPara}>
        Hello! I'm Kathleen, an engineer, designer, speaker, and occasional
        writer. This is the space where I cultivate my interests.
      </p>
      <LineDot />
    </header>
    <article class="contentWrapper">
      <slot />
    </article>
  </article>
</Layout>
